/* custom css goes here */
/*
Filename = app.css
@author Dinesh Palle
@date : 19th August 2016
StudentID : 300705307
Website : http://comp125-assignment5.azurewebsites.net/
@description : This is the main css file of this website
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 70px;
    background-image: url('https://images.alphacoders.com/442/442879.jpg');
}


#canvas{
    border: 1px black solid;
    border-radius: 5px;
}